.vs/
/BotManager.Common/obj
/BotManager/obj
/BotManager.Engine/obj
/BotManager.Service.Compiler/obj
/BotManager.Reactive/obj
/BotManager.Service.Discord/obj
/BotManager.Service.Twitter/obj
/BotManager/bin
/BotManager.Common/bin
/BotManager.Engine/bin
/BotManager.Reactive/bin
/BotManager.Service.Compiler/bin
/BotManager.Service.Discord/bin
/BotManager.Service.Twitter/bin
/BotManager.Service.Misskey/obj
/BotManager.Service.Misskey/bin
/BotManager.Web/obj
/BotManager.Web/bin
/BotManager.Notifiers.EarthquakeMonitor/obj
/BotManager.Notifiers.EarthquakeMonitor/bin
